body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: black;
}

.container {
  height: 98vh;
  overflow-y: auto;
}

table {
  margin:           0 0 40px 0;
  width:            50%;
  box-shadow:       0 1px 3px rgba(0,0,0,0.2);
  display:          table;
  background-color: lightgrey;
  border-collapse:  collapse;
  border-spacing:   0;
  margin:           0px auto;
}

table th {
  background:   #2980b9;
  color:        #ffffff;
  font-family:  Arial, sans-serif;
  font-size:    14px;
  font-weight:  bold;
  padding:      4px;
  border:       1px solid black;
  overflow:     hidden;
  word-break:   normal;
  cursor:       pointer;

  -webkit-user-select: none; /* Chrome/Opera */
  -moz-user-select:    none; /* Firefox      */
  -ms-user-select:     none; /* IE           */
}

table td {
  display:      table-cell;
  font-family:  Arial, sans-serif;
  font-size:    14px;
  padding:      6px 4px;
  border-style: solid;
  border-width: 1px;
  overflow:     hidden;
  word-break:   normal;
}

table tr {
  display:          table-row;
  background-color: #fff;
}

table tr:nth-child(even) {
  background-color: #ddd;
}

/****************************************/

table th:after {
  content:      ""; 
  float:        right;
  margin-top:   7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility:   hidden;
  opacity:      0.5;
}

/* Hover mouse over header */
table th:hover:after {
  visibility: visible;
}

/* A sorted column that has been clicked on (ascending) */
table th.tg-sort-asc:after {
  visibility: visible;
  opacity:    1.0;
}

/* A sorted column that has been clicked on (descending) */
table th.tg-sort-desc:after {
  visibility:    visible;
  opacity:       1.0;
  border-bottom: none;
  border-width:  4px 4px 0;
}
