<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"     content="width=device-width, initial-scale=1.0">
    <meta name="description"  content="Fish Chips Table">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="../static/icon.png">
    <link rel="stylesheet"    href="../static/theme.css">
    <link rel="stylesheet"    href="../static/scrollbar.css">
    <title>Fish Chips</title>
  </head>

  <body>
    <div class="tse-scrollable">
      <div class="tse-content">
        {{html|safe}}
      </div>
    </div>

    <!-- Pages load faster when JS files are at the end of the document -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- jQuery      -->
    <script src="../static/scrollbar.js"></script>                                            <!-- Scrollbar   -->
    <script src="../static/tablesorter.js"></script>                                          <!-- Tablesorter -->
  </body>
</html>

<script>

SetHeight();
$(window).resize(function(){SetHeight();});

$(".tse-scrollable").TrackpadScrollEmulator({autoHide: false });

function SetHeight(){
  var h = window.innerHeight;
  $(".tse-scrollable").css("height", h - 25);
}

</script>
